
h1{
 color: grey;
}

body{
  color: grey;
}

td{
  padding: 10px;
}

select{
  color: grey;
}
table{
  border-collapse: collapse;

}
tr:nth-child(even){
  color: white;
  background-color: darkgray;
}
