table{
  width: 60%;
  border-collapse: collapse;
  font-family: "Palatino Linotype", "Times New Roman", "Serif";
}

th{
  text-align: left;
}

td{
  width: 20%;
  padding: 5px;
}

th{
  background-color: blue;
}

tr:nth-child(even){
  background-color: lightblue;
}
